<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuePaisEesseJogo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuePaisEesseJogo.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="\img\iconbandeira.png" type="image/x-icon">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
    <audio class="somClick" src="/SoundEffects/BubbleBellClick.mp3" type="audio/mpeg">



    </audio>

    <audio class="fimdeJogo" src="/SoundEffects/fimDeJogo.mp3" type="audio/mpeg">



    </audio>

    <header>
        <div class="menu">
            <i class='bx bxs-home' onclick="voltar_ao_menu()"></i></i>
        </div>
        <img src="/img/bandeira.gif" width="300px">

        <i class='bx bxs-volume-mute' id="MutarDesmutar" onclick="tocadorAudio(2);Mutar()"></i>

    </header>
    <main class="PopUp">
        <div class="Ranking">
            <i class='bx bx-x' onclick="tocadorAudio(2);fecharPopUp()"></i>
            <div class="rankingBackground">
                <h1> <i class='bx bxs-trophy'></i>Ranking<i class='bx bxs-trophy'></i></h1>

                <p class="disponibilizadorDeRanking">


                </p>
            </div>

        </div>

    </main>
    <main class="PopUp2">

        <div class="ComoJogar">
            <i class='bx bx-x' onclick="tocadorAudio(2);fecharPopUp()"></i>
            <div class="rankingBackground">
                <h1></i>COMO JOGAR?</h1>

                <p class="Informacoes">
                    Acerte o maximo que conseguir em 20 Segundo ;)
                    a cada 5 acertos voce ganha mais 2 pontos.
                    BOA SORTE!!!!!!!!!

                </p>
            </div>

        </div>

    </main>
    <div class="TelaEscura"></div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<footer>
    <p>Neemias Claudio 2022 <i class='bx bx-copyright'></i></p>
</footer>





</html>
