@{
    ViewData["Title"] = "Menu Inicial";
}


<div class="mainMenu">
    <input type="text" placeholder="Digite Seu nome" class="nomeusuario" onclick="tocadorAudio(2)">
    <div class="menuOpcoes">
        <a href="#" onclick="tocadorAudio(2);abrirPopUp2()">COMO JOGAR</a>
        <a href="#" onclick="tocadorAudio(2);abrirPopUp()">RANKING</a>
        <a href="https://github.com/NeemiasHD" target="_blank" onclick="tocadorAudio(2)"><i
                class='bx bxl-github'></i></a>

    </div>

    <a class="botaoIniciar" onclick="tocadorAudio(2);Inicializador()">
        começar
    </a>
    <p class="AvisoErro"></p>
    <a class="iniciar" asp-controller="Home" asp-action="Index"></a>

</div>


<script src="~/js/MenuInicialJogo.js" asp-append-version="true"></script>